* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #33475B;
    background-color: #F5F8FA;
}

.container_60 {
    width: 60%;
    margin: 0px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.caret_down {
    margin-left: 3px;
}


a {
    color: #33475B;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

.btn-padding20 {
    padding-bottom: 20px;
}

#btn_orange-small {
    color: white;
    text-decoration: none;
    padding: 9px;
    border-radius: 5px;
    background-color: #FF7A59;
}
#btn_orange-small:hover {
    opacity: 0.5;
}

#btn_white {
    color: #FF7A59;
    text-decoration: none;
    padding: 8px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #FF7A59;
}
#btn_white:hover {
    opacity: 0.5;
}

#lent {
    color: #13ABC2;
    text-decoration: none;
    margin-right: 20px;
}

.btn_orange {
    line-height: 48px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 16px 28px;
    border-radius: 5px;
    background-color: #FF7A59;
}
.btn_orange:hover {
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

.first-row {
    line-height: 20px;
    vertical-align: middle;
}

.second-row {
    line-height: 20px;
    vertical-align: middle;
}

h1 {
    font-weight: 800;
    color: #33475B;
    font-size: 50px;
    line-height: 50px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    /* margin-bottom: 20px; */
}

h3 {
    font-weight: 800;
    /* margin-bottom: 20px; */
}

h4 {
    font-weight: 700;
    display: inline-block;
    margin: 25px 0;
}

.getstarted-text{
    display: inline-block;
    font-size: 12px;
    margin: 12px 0px 8px;
}

.column-left {
    width: 30%;
}

.column-right {
    width: 60%;
}

.p_vmargin20 {
    margin: 20px 0;
}

.p_vmargin30 {
    margin: 30px 0;
}

#plus {
    font-weight: 400;
    font-size: 6px;
    line-height: 10px;
}

/* /COMMON */

/* BANNER LOGIN */
.page-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    font-size: 14px;
    line-height: 70px;
    text-align: center;
    background-color: #F5F8FA;
    opacity: 1;
    border-bottom: 1px solid #33475B;
    z-index: 1;
}

#white-bar {
    margin-top: 70px;
    background-color: white;
}

#select_language {
    padding-right: 20px;
    border-right: 1px solid #33475B;
}

#contact_us {
    margin-left: 20px;
}


/* /BANNER LOGIN */

/* jumbotron */
nav {
    height: 70px;
    font-size: 14px;
    line-height: 70px;
    text-align: center;
}

.list-inline > li {
    line-height: 50px;
    display: inline-block;
    list-style: none;
}

.list-inline > li:not(:last-child) {
    padding-right: 20px;
}

#logo-img {
    margin: 18% 0px;
}

#jumbotron {
    height: 588px;
    background-size: 75%;
    background-position-x: right;
    background-position-y: -20px;
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-color: #FFF6F0;
}

#jumbo-box {
    padding: 5% 55% 0 0;
}

#page-bar-green {
    height: 70px;
    border-width: 3px 0px;
    border-style: solid;
    border-color: #33475B;
    background-color: #AFEBE4;
}

/* /jumbotron */

/* SPOT E CRM */
.motto {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#img-motto {
    height: 200px;
    padding-top: 30px;
}
.crm {
    padding: 42px 10px;
    box-shadow: 0px 0px 7px 0px lightgrey;
    margin: 20px 0;
    background-color: white;
}

.crm > .column-left {
    text-align: center;
}


.icon {
    
    height: 100px;
    margin-bottom: 20px;
}

hr {
    display: inline-block;
    width: 100%;
    border: 1px solid #33475B;
    opacity: 0.7;
    vertical-align: middle;
}

#hr_crm {
    margin-left: 40px;
    width: 70%;
}

.checkmark {
    vertical-align: middle;
    font-size: 10px;
    color: white;
    padding: 2px;
    background-color: coral;
    border: 1px solid orange;
    border-radius: 50%;
    margin-right: 10px;
}
/* /SPOT E CRM */


.container-box {
    margin: 30px 0;
    background-color: white;
    width: calc(30% - 10px);
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 0px 7px 0px lightgrey;
    padding: 15px 25px;
}

.container-box.float-left:not(last-child) {
    margin-right: 6%;
}

.hr_box {
    margin: 40px 0 0 0;
    border: 0.5px solid #33475B;
}

col li {
    margin-bottom: 0;
}

.hub_list {
    display: block;
    text-align: left;
    margin-bottom: 45px;
}

/* /CRM E HUBS */

#awards_section {
    text-align: center;
    color: white;
    padding: 30px 0;
    background: rgb(0,169,184);
    background: linear-gradient(90deg, rgba(0,169,184,1) 0%, rgba(0,169,184,1) 58%, rgba(0,183,171,1) 100%);
}

.stats {
    margin: 30px 0;
}

.cell:not(:nth-child(4)) {
    border-right: 1px solid white;
}

.first-row > .cell {
    border-bottom: 1px solid white;
}

.cell {
    width: 25%;
    padding: 10px 20px;
}

.mini-icon {
    height: 22px;
    margin: 7px 0 18px 0;
}
/* /SEZIONE AWARDS */

/* SEZIONE PARTNERS */
#partners  {
    width: 50%;
    margin: 30px auto;
}

#partners .column-left {
    width: 20%;
}

#partners_number {
    display: inline-block;
    font-weight: 800;
    font-size: 50px;
    text-align: left;
}

.partners_logo {
    transform: translate(0%, 50%);
    width: 120px;
    padding: 0px 10px;
    text-align: center;
}

#adv_section {
    margin-bottom: 30px;
}

#adv-box {
    display: inline-block;
    width: 42%;
}

.adv-img {
    width: 266px;
}
/* /SEZIONE PARTNERS */

/* FOOTER */

footer {
    background-color: #2D3E50;
    padding: 25px 0;
    color: white;
}

footer a {
    font-size: 11px;
    color: #c7d2de
}

.block-list {
    font-size: 12px;
    list-style: none;
    width: 22%;
}

.block-list > li:first-child {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 20px;
}

ul li {
    padding-bottom: 10px;
}

.btn_white {
    line-height: 35px;
    font-size: 12px;
    color: #2D3E50;
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: #c7d2de;
}

.social-icon {
    height: 12px;
    margin: 15px 20px 0 0;
}

.languages {
    padding-top: 60px;
    text-align: center;
}

.languages > a {
    margin: 15px 15px;
}

footer hr {
    border: 0.5px solid #c7d2de;
    opacity: 0.7;
    margin: 5px 0 25px;
}

#copyright {
    color: white;
    font-size: 14px;
}

.sign a {
    margin-left: 25px;
}